---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="selector-color">
      <div class="content-selector-color">
        <div class="boton-azul" onclick="selectColor('azul')"></div>
        <div class="boton-rojo" onclick="selectColor('rojo')"></div>
        <div class="boton-verde" onclick="selectColor('verde')"></div>
        <div class="boton-morado" onclick="selectColor('morado')"></div>
      </div>
    </section>
	<section class="content-page">
		<section class="content-person">
		  <div class="content-image">
			<p class="bracket color-text">{"{"}</p>
			<img src="public/foto.png" alt="Mi imagen" class="image" />
			<p class="bracket color-text">{"}"}</p>
		  </div>
		  <div class="content-text">
			<h1 class="">Kevin Andres Ni침o <br /> Guerrero</h1>
			<p class=" color-text">Full-stack Developer</p>
			<hr class="color-text line"/>
			<p class="">Redes de contacto:</p>
			<div>
	
			  <img src="public/Instagram-Logosu.png" alt="" />
			  <img src="public/linkedin.png" alt="" />
			  <img src="public/gmail.png" alt="" />
			</div>
		  </div>
		</section>
		<section class="content-info">
			<div class="content-descripcion">
				<h2 class="color-text">춰Hola y bienvenido! Soy Kevin Ni침o Guerrero.</h2>
				<hr/>
				<h3>M치s sobre mi</h3>
				<p>Soy un apasionado del desarrollo web y de c칩mo la tecnolog칤a puede hacer nuestras vidas m치s f치ciles. Me encanta trabajar en proyectos que van desde la creaci칩n de p치ginas web hasta soluciones m치s complejas para empresas. Mi misi칩n es ofrecer soluciones que realmente ayuden a las personas y los negocios a prosperar en el mundo digital.</p>
				<ul>
					<li>游꿉 Ingeniero de Sistemas con formaci칩n en an치lisis y desarrollo de sistemas de informaci칩n.</li>
					<li>游녭 Apasionado por las nuevas tecnolog칤as.</li>
					<li>游뱄 Interesado en la Inteligencia Artificial y c칩mo aplicarla para resolver problemas complejos.</li>
				</ul>
			</div>
			<h2 class="color-text">Mis proyectos</h2>
			<div class="content-proyectos">
				<div>

				</div>
			</div>

		</section>
	</section>
  </main>
</Layout>

<script type="text/javascript">
  function selectColor(element) {
    
    // Cambiar el fondo
    if (element === "rojo") {
      document.documentElement.style.backgroundColor = "#0C0202";
      document.documentElement.style.setProperty('--color-text', '#B50003'); // Cambiar la variable de color de texto
      document.documentElement.style.setProperty('--color-lines', '#720002'); // Cambiar la variable de color de texto
    } else if (element === "azul") {
      document.documentElement.style.backgroundColor = "#020C0C";
      document.documentElement.style.setProperty('--color-text', '#3C7CCF');
      document.documentElement.style.setProperty('--color-lines', '#5978A0');
    } else if (element === "verde") {
      document.documentElement.style.backgroundColor = "#020C02";
      document.documentElement.style.setProperty('--color-text', '#007408');
      document.documentElement.style.setProperty('--color-lines', '#005D06');
    } else if (element === "morado") {
      document.documentElement.style.backgroundColor = "#08020C";
      document.documentElement.style.setProperty('--color-text', '#5F007F');
      document.documentElement.style.setProperty('--color-lines', '#69007E');
    }
    console.log(element);
  }
</script>

<style>
	.content-info{
		margin-top: 5%;
		width: 40%;
		color: white;
	}
	.content-descripcion hr{
		border: 1px solid var(--color-lines);

	}
	.content-descripcion{
		width: 100%;
		padding: 5% 5%;
		border-radius: 20px;
		border:solid var(--color-lines);
	}
	.content-page{
		display: flex;
	}
	p{
		margin: 0%;
	}
	.line{
		margin: 2% 0%;
		width: 70%;
		/* background-color: red; */
		border: 1px solid var(--color-lines);
	}
  :root {
    --color-text: #3c7ccf; /* Color predeterminado */
    --color-lines: #5978a0; /* Definici칩n de otra variable si es necesario */
  }

  .color-text {
    color: var(--color-text); /* Utilizar la variable global para el color del texto */
  }

  .boton-morado,
  .boton-rojo,
  .boton-verde,
  .boton-azul {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }

  .boton-morado {
    background-color: purple;
  }

  .boton-rojo {
    background-color: rgb(149, 0, 0);
  }

  .boton-verde {
    background-color: rgb(0, 103, 0);
  }

  .boton-azul {
    background-color: blue;
  }


  .content-text {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    margin-top: 5%;
    color: white; /* Este color se cambiar치 seg칰n la selecci칩n */
  }

  .content-person {
    width: 40%;
  }

  .selector-color {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  }

  .content-selector-color {
    display: flex;
    gap: 30px;
    border-radius: 100px;
    border: solid var(--color-lines); /* Ajustar a la variable si es necesario */
    padding: 10px 1%;
  }

  .content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    position: relative;
  }

  .image {
    margin-top: 15%;
    width: 300px;
    height: auto;
  }

  .bracket {
    font-size: 300px;
    line-height: 0;
    margin: 0;
  }
</style>
