---
import Layout from "../layouts/Layout.astro";
import Experiencie from "../components/Experiencie.astro";
import Contentmy from "../components/Contentmy.astro";
import { getCollection } from "astro:content";
import SelectColor from "../components/SelectColor.astro";

const collectionProyects = await getCollection("proyectos");
---

<Layout>
  <main>
    <SelectColor />
    <section class="content-page">
      <Contentmy />
      <section class="content-info">
        <div class="content-card">
          <h2 class="color-text">
            춰Hola y bienvenido! Soy Kevin Ni침o Guerrero.
          </h2>
          <hr />
          <h3>M치s sobre mi</h3>
          <p>
            Soy un apasionado del desarrollo web y de c칩mo la tecnolog칤a puede
            hacer nuestras vidas m치s f치ciles. Me encanta trabajar en proyectos
            que van desde la creaci칩n de p치ginas web hasta soluciones m치s
            complejas para empresas. Mi misi칩n es ofrecer soluciones que
            realmente ayuden a las personas y los negocios a prosperar en el
            mundo digital.
          </p>
          <ul>
            <li>
              游꿉 Ingeniero de Sistemas con formaci칩n en an치lisis y desarrollo de
              sistemas de informaci칩n.
            </li>
            <li>游녭 Apasionado por las nuevas tecnolog칤as.</li>
            <li>
              游뱄 Interesado en la Inteligencia Artificial y c칩mo aplicarla para
              resolver problemas complejos.
            </li>
          </ul>
          <hr />
          <div>
            <h3>Tecnologias que utilizo:</h3>
            <div class="logos-tecnologi">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
                alt="html"
                width="35px"
                height="35px"
              />
              <img
                src="https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/css3-512.png"
                alt="css"
                width="35px"
                height="35px"
              />
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
                alt="js"
                width="35px"
                height="35px"
              />
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTb6-sFktxWY-Dm8H7HlRmrYnfruYPipHcVQw&s"
                alt="typescript"
                width="35px"
                height="35px"
              />
              <img
                src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png"
                alt="react"
                width="35px"
                height="35px"
              />
              <img
                class="image-fond-wite"
                src="https://koerber-supplychain.com/fileadmin/koerbersupplychain/Homepage/References/reference_next_logo.png"
                alt="next"
                width="60px"
                height="35px"
              />
              <img
                src="https://img.icons8.com/m_sharp/200/FFFFFF/github.png"
                alt="git"
                width="35px"
                height="35px"
              />
              <img
                src="https://astro.build/assets/press/astro-icon-light-gradient.png"
                alt="astro"
                width="30px"
                height="35px"
              />
              <img
                src="https://static-00.iconduck.com/assets.00/node-js-icon-454x512-nztofx17.png"
                alt="node"
                width="30px"
                height="35px"
              />
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg"
                alt="figma"
                width="30px"
                height="35px"
              />
            </div>
          </div>
        </div>
        <div class="content-proyects">
          <h2 class="color-text">Mis proyectos</h2>
          <div class="content-proyectos">
            {
              collectionProyects.map((proyect) => (
                <div class="content-card">
                  <h1 class="color-text">{proyect.data.name}</h1>
                  <p>{proyect.data.description}</p>
                  <h3 class="color-text">Lenguajes</h3>
                  {proyect.data.tecnologies.map((element) => (
                    <img
                      src={element.image}
                      alt=""
                      width="30px"
                      height="35px"
                    />
                  ))}
                  <a href={`/proyect/${proyect.slug}`}>
                    <button>Conoce m치s...</button>
                  </a>
                </div>
              ))
            }
          </div>
        </div>

        <!-- conocimientos / experiencia -->
        <Experiencie />
      </section>
    </section>
  </main>
</Layout>

<style>
  .content-proyects{
    margin-top: 5%;
  }
  .image-fond-wite {
    background-color: white;
  }
  .logos-tecnologi {
    display: flex;
    gap: 15px;
  }
  p {
    font-size: 20px;
  }
  .content-card button {
    font-size: 20px;
    padding: 3%;
    color: white;
    border: 0;
    background-color: var(--color-lines);
    border-radius: 30px;
    margin: 2%;
    width: 100%;

    cursor: pointer;
  }
  .content-proyectos h3 {
    margin: 3% 0%;
    margin-bottom: 0%;
  }
  .content-proyectos p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content-proyectos img {
    margin: 5% 2%;
  }
  .content-proyectos h1 {
    margin-top: 0%;
  }
  .content-proyectos {
    margin: 5% 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .content-page {
    position: absolute;
  }

  .content-info {
    margin-top: 5%;
    width: 55%;
    color: white;
  }
  .content-card hr {
    border: 1px solid var(--color-lines);
  }
  .content-card {
    width: auto;
    padding: 5%;
    border-radius: 20px;
    border: solid var(--color-lines);
  }
  .content-page {
    display: flex;
    width: 100%;
  }
  p {
    margin: 0%;
  }

  div {
    position: static;
  }

  @media (max-width: 768px) {
    .content-page {
      display: flex;
      flex-direction: column;
    }
    .content-info {
      margin: 0% 5%;
      width: auto;
    }
    .logos-tecnologi {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (max-width: 768px) {
    p {
      font-size: 12px !important;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 15px;
    }
    .content-proyectos {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
