---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="selector-color">
      <div class="content-selector-color">
        <div class="boton-azul" onclick="selectColor('azul')"></div>
        <div class="boton-rojo" onclick="selectColor('rojo')"></div>
        <div class="boton-verde" onclick="selectColor('verde')"></div>
        <div class="boton-morado" onclick="selectColor('morado')"></div>
      </div>
    </section>
    <section class="content-page">
      <section class="content-person">
        <div class="content-image">
          <p class="bracket color-text">{"{"}</p>
          <img src="public/foto.png" alt="Mi imagen" class="image" />
          <p class="bracket color-text">{"}"}</p>
        </div>
        <div class="content-text">
          <h1 class="name">Kevin Andres Ni帽o <br /> Guerrero</h1>
          <p class="color-text">Full-stack Developer</p>
          <hr class="color-text line" />
          <p class="">Redes de contacto:</p>
          <div>
            <img src="public/Instagram-Logosu.png" alt="" />
            <img src="public/linkedin.png" alt="" />
            <img src="public/gmail.png" alt="" />
          </div>
        </div>
      </section>
      <section class="content-info">
        <div class="content-card">
          <h2 class="color-text">
            隆Hola y bienvenido! Soy Kevin Ni帽o Guerrero.
          </h2>
          <hr />
          <h3>M谩s sobre mi</h3>
          <p>
            Soy un apasionado del desarrollo web y de c贸mo la tecnolog铆a puede
            hacer nuestras vidas m谩s f谩ciles. Me encanta trabajar en proyectos
            que van desde la creaci贸n de p谩ginas web hasta soluciones m谩s
            complejas para empresas. Mi misi贸n es ofrecer soluciones que
            realmente ayuden a las personas y los negocios a prosperar en el
            mundo digital.
          </p>
          <ul>
            <li>
               Ingeniero de Sistemas con formaci贸n en an谩lisis y desarrollo de
              sistemas de informaci贸n.
            </li>
            <li> Apasionado por las nuevas tecnolog铆as.</li>
            <li>
               Interesado en la Inteligencia Artificial y c贸mo aplicarla para
              resolver problemas complejos.
            </li>
          </ul>
        </div>
        <h2 class="color-text">Mis proyectos</h2>
        <div class="content-proyectos">
          <div></div>
        </div>
        <!-- conocimientos / experiencia -->
        <div class="container-tag">
          <div
            class="conten-title-tag-selected selected-tag"
            id="experiencia-laboral"
            onclick="selectExperiencia('experiencia-laboral')"
          >
            <h1>Experiencia laboral</h1>
          </div>
          <div
            class="conten-title-tag"
            id="experiencia-educativa"
            onclick="selectExperiencia('experiencia-educativa')"
          >
            <h1>Experiencia educativa</h1>
          </div>
        </div>
        <div class="content-card">
          <div style="display: block;" id="experiencia-laboral-content">
            <h2 class="color-text">Mis experiencia laboral:</h2>
            <p>
              Soy un Desarrollador Full Stack con m谩s de tres a帽os de
              experiencia en la creaci贸n de sitios web y aplicaciones usando
              ReactJS, Next.js y Tailwind. Me apasiona construir soluciones que
              no solo se vean bien, sino que tambi茅n sean f谩ciles de usar. He
              trabajado en los sectores de turismo y seguros, siempre enfocado
              en mejorar la experiencia del usuario. Adem谩s, estoy explorando el
              mundo de la Inteligencia Artificial, aplicando modelos para
              reconocimiento de im谩genes. Me gusta trabajar en equipo y siempre
              busco que el c贸digo sea limpio, eficiente y escalable.
            </p>
            <hr class="color-line line-experiencia" />
            <div class="timeline">
              <div class="timeline-item">
                <h3>
                  Desarrollador de software - <a href="#">Protec Seguros</a>
                </h3>
                <p>Sector seguros - 09/10/2021 - 30/01/2023</p>
                <ul>
                  <li>Desarrollo de sitios web con Astro.</li>
                  <li>UI/UX designer.</li>
                  <li>Implementaci贸n en el servidor.</li>
                </ul>
              </div>

              <div class="timeline-item">
                <h3>Desarrollador de software - <a href="#">AVIATUR</a></h3>
                <p>Sector Turismo - 01/02/2023 - 08/30/2024</p>
                <ul>
                  <li>
                    Lider茅 implementaciones web utilizando ReactJS, Next.js y
                    Tailwind.
                  </li>
                  <li>Colabor茅 en equipos 谩giles bajo la metodolog铆a Scrum.</li>
                  <li>
                    Desarroll茅 soluciones para mejorar la experiencia del
                    usuario final.
                  </li>
                </ul>
              </div>
              <div class="timeline-item">
                <h3>Desarrollador de software - <a href="#">Inapsis</a></h3>
                <p>Sector desarrollo - 09/10/2021 - 30/01/2023</p>
                <ul>
                  <li>Desarrollo de sitios web con ReactJS.</li>
                  <li>
                    Resoluci贸n de problemas en conjunto con otros equipos.
                  </li>
                  <li>
                    Actualizaci贸n de modelos seg煤n los requerimientos de los
                    clientes.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div style="display: none;" id="experiencia-educativa-content">
            <h2 class="color-text">Mis experiencia educativa:</h2>
            <p class="descripcion-experiencia">
              Soy Ingeniero de Sistemas (2024), Tecn贸logo en An谩lisis y
              Desarrollo de Sistemas de Informaci贸n (2022) y T茅cnico Profesional
              en Operaci贸n y Mantenimiento de Bases de Datos (2019). A lo largo
              de mi formaci贸n, he adquirido conocimientos s贸lidos en desarrollo
              web, bases de datos y metodolog铆as 谩giles, lo que me ha permitido
              construir un perfil integral en tecnolog铆a.
              <br />Durante mi proceso educativo, combin茅 teor铆a y pr谩ctica para
              desarrollar habilidades en programaci贸n, dise帽o de interfaces, y
              gesti贸n de proyectos. Me enfoqu茅 en aprender herramientas modernas
              como ReactJS, Next.js, y Tailwind, aplic谩ndolas en proyectos
              acad茅micos y personales. Adem谩s, he comenzado a explorar el mundo
              de la Inteligencia Artificial, integrando soluciones de
              reconocimiento de im谩genes. <br /> Valoro el aprendizaje continuo y
              la colaboraci贸n, buscando siempre mejorar la calidad del c贸digo y la
              experiencia del usuario en cada proyecto en el que participo.
            </p>
            <hr class="color-line line-experiencia" />
            <div class="timeline">
              <div class="timeline-item">
                <h3>
                  Ingenieria de sistemas - <a href="#">Universidad compensar</a>
                </h3>
                <p>05/02/2018 - 30/05/2024</p>
                <ul>
                  <li>
                    Desarroll茅 habilidades en programaci贸n, bases de datos y
                    dise帽o de sistemas.
                  </li>
                  <li>
                    Cursos destacados: Algoritmos y Estructuras de Datos,
                    Desarrollo de Aplicaciones Web.
                  </li>
                  <li>
                    Proyectos destacados: Creaci贸n de un sistema de cifras
                    delictivas en la ciudad utilizando ReactJS.
                  </li>
                </ul>
              </div>

              <div class="timeline-item">
                <h3>
                  Tecnologo An谩lisis y Desarrollo de Sistemas de Informaci贸n - <a
                    href="#">Universidad compensar</a>
                </h3>
                <p>01/02/2018 - 08/05/2022</p>
                <ul>
                  <li>
                    Desarroll茅 habilidades en an谩lisis de sistemas, programaci贸n
                    y gesti贸n de bases de datos.
                  </li>
                  <li>
                    Cursos destacados: Dise帽o
                    de Bases de Datos, y Metodolog铆as giles.
                  </li>
                  <li>
                    Proyectos destacados: Desarrollo de una aplicaci贸n de
                    gesti贸n de inventarios usando MySQL.
                  </li>
                </ul>
              </div>
              <div class="timeline-item">
                <h3>
                  T茅cnico Profesional en Operaci贸n y Mantenimiento de Bases de
                  Datos - <a href="#">Universidad compensar</a>
                </h3>
                <p>09/03/2018 - 30/08/2021</p>
                <ul>
                  <li>
                    Desarroll茅 habilidades en administraci贸n y mantenimiento de
                    bases de datos.
                  </li>
                  <li>
                    Cursos destacados: Fundamentos de Bases de Datos, SQL
                    Avanzado, y Seguridad de Datos.
                  </li>
                  <li>
                    Participaci贸n en talleres de actualizaci贸n sobre nuevas
                    tecnolog铆as de bases de datos y gesti贸n de datos.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
</Layout>

<script type="text/javascript">
  function selectColor(element) {
    // Cambiar el fondo
    if (element === "rojo") {
      document.documentElement.style.backgroundColor = "#0C0202";
      document.documentElement.style.setProperty("--color-text", "#B50003"); // Cambiar la variable de color de texto
      document.documentElement.style.setProperty("--color-lines", "#720002"); // Cambiar la variable de color de texto
    } else if (element === "azul") {
      document.documentElement.style.backgroundColor = "#020C0C";
      document.documentElement.style.setProperty("--color-text", "#3C7CCF");
      document.documentElement.style.setProperty("--color-lines", "#5978A0");
    } else if (element === "verde") {
      document.documentElement.style.backgroundColor = "#020C02";
      document.documentElement.style.setProperty("--color-text", "#007408");
      document.documentElement.style.setProperty("--color-lines", "#005D06");
    } else if (element === "morado") {
      document.documentElement.style.backgroundColor = "#08020C";
      document.documentElement.style.setProperty("--color-text", "#5F007F");
      document.documentElement.style.setProperty("--color-lines", "#69007E");
    }
  }

  function selectExperiencia(element) {
    const experiencia = document.getElementById("experiencia-laboral");
    const experienciaEducativa = document.getElementById(
      "experiencia-educativa"
    );
    const experienciaLaboralContent = document.getElementById(
      "experiencia-laboral-content"
    );
    const experienciaEducativaContent = document.getElementById(
      "experiencia-educativa-content"
    );

    if (element === "experiencia-laboral") {
      experiencia.classList.add("selected-tag");
      experienciaEducativa.classList.remove("selected-tag");
      experienciaLaboralContent.style.display = "block";
      experienciaEducativaContent.style.display = "none";
    } else {
      experienciaEducativaContent.style.display = "block";
      experienciaLaboralContent.style.display = "none";
      experienciaEducativa.classList.add("selected-tag");
      experiencia.classList.remove("selected-tag");
    }
  }
</script>

<style>
  .timeline {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
  }

  /* L铆neas verticales en los elementos */
  .timeline-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 20px;
  }

  .timeline-item:not(:last-child)::after {
    content: "";
    position: absolute;
    left: -7px;
    top: 12px;
    height: 170px;
    border-left: 2px solid var(--color-text);
  }

  /* Puntos circulares en cada item */
  .timeline-item::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 6px;
    width: 12px;
    height: 12px;
    background-color: var(--color-text);
    border-radius: 50%;
  }

  .timeline-item h3 {
    margin: 0;
    font-size: 18px;
  }

  .timeline-item a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
  }

  .timeline-item p {
    margin: 5px 0;
    color: #bbb;
    font-size: 14px;
  }

  .timeline-item ul {
    padding-left: 20px;
    list-style-type: disc;
  }

  .timeline-item ul li {
    margin-bottom: 5px;
  }
  .line-experiencia {
    margin: 5% 0%;
  }
  .conten-title-tag,
  .conten-title-tag-selected {
    padding: 1% 5%;
    border-top: 2px solid var(--color-lines);
    border-left: 2px solid var(--color-lines);
    border-right: 2px solid var(--color-lines);
    border-radius: 15px 15px 0 0;
    cursor: pointer;
  }
  .selected-tag {
    background-color: var(--color-lines);
  }
  .container-tag {
    padding: 0% 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
  }
  .container-tag h1 {
    margin: 0%;
  }
  .name {
    font-size: 30px;
    margin: 0%;
    margin-bottom: 5%;
  }
  .content-info {
    margin-top: 5%;
    width: 40%;
    color: white;
  }
  .content-card hr {
    border: 1px solid var(--color-lines);
  }
  .content-card {
    width: 100%;
    padding: 5% 5%;
    border-radius: 20px;
    border: solid var(--color-lines);
  }
  .content-page {
    display: flex;
  }
  p {
    margin: 0%;
  }
  .line {
    margin: 2% 0%;
    width: 70%;
    /* background-color: red; */
    border: 1px solid var(--color-lines);
  }
  :root {
    --color-text: #3c7ccf; /* Color predeterminado */
    --color-lines: #5978a0; /* Definici贸n de otra variable si es necesario */
  }

  .color-text {
    color: var(
      --color-text
    ); /* Utilizar la variable global para el color del texto */
  }

  .boton-morado,
  .boton-rojo,
  .boton-verde,
  .boton-azul {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }

  .boton-morado {
    background-color: purple;
  }

  .boton-rojo {
    background-color: rgb(149, 0, 0);
  }

  .boton-verde {
    background-color: rgb(0, 103, 0);
  }

  .boton-azul {
    background-color: blue;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    margin-top: 5%;
    color: white; /* Este color se cambiar谩 seg煤n la selecci贸n */
  }

  .content-person {
    width: 40%;
  }

  .selector-color {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  }

  .content-selector-color {
    display: flex;
    gap: 30px;
    border-radius: 100px;
    border: solid var(--color-lines); /* Ajustar a la variable si es necesario */
    padding: 10px 1%;
  }

  .content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    position: relative;
  }

  .image {
    margin-top: 15%;
    width: 300px;
    height: auto;
  }

  .bracket {
    font-size: 300px;
    line-height: 0;
    margin: 0;
  }
</style>
