---

---

<!-- conocimientos / experiencia -->
<div class="container-tag">
  <div
    class="conten-title-tag-selected selected-tag"
    id="experiencia-laboral"
    onclick="selectExperiencia('experiencia-laboral')"
  >
    <h1>Experiencia laboral</h1>
  </div>
  <div
    class="conten-title-tag"
    id="experiencia-educativa"
    onclick="selectExperiencia('experiencia-educativa')"
  >
    <h1>Experiencia educativa</h1>
  </div>
</div>
<div class="content-card">
  <div style="display: block;" id="experiencia-laboral-content">
    <h2 class="color-text">Mis experiencia laboral:</h2>
    <p>
      Soy un Desarrollador Full Stack con más de tres años de experiencia en la
      creación de sitios web y aplicaciones usando ReactJS, Next.js y Tailwind.
      Me apasiona construir soluciones que no solo se vean bien, sino que
      también sean fáciles de usar. He trabajado en los sectores de turismo y
      seguros, siempre enfocado en mejorar la experiencia del usuario. Además,
      estoy explorando el mundo de la Inteligencia Artificial, aplicando modelos
      para reconocimiento de imágenes. Me gusta trabajar en equipo y siempre
      busco que el código sea limpio, eficiente y escalable.
    </p>
    <hr class="color-line line-experiencia" />
    <div class="timeline">
      <div class="timeline-item">
        <h3>
          Desarrollador de software - <a href="#">Protec Seguros</a>
        </h3>
        <p>Sector seguros - 09/10/2021 - 30/01/2023</p>
        <ul>
          <li>Desarrollo de sitios web con Astro.</li>
          <li>UI/UX designer.</li>
          <li>Implementación en el servidor.</li>
        </ul>
      </div>

      <div class="timeline-item">
        <h3>Desarrollador de software - <a href="#">AVIATUR</a></h3>
        <p>Sector Turismo - 01/02/2023 - 08/30/2024</p>
        <ul>
          <li>
            Lideré implementaciones web utilizando ReactJS, Next.js y Tailwind.
          </li>
          <li>Colaboré en equipos ágiles bajo la metodología Scrum.</li>
          <li>
            Desarrollé soluciones para mejorar la experiencia del usuario final.
          </li>
        </ul>
      </div>
      <div class="timeline-item">
        <h3>Desarrollador de software - <a href="#">Inapsis</a></h3>
        <p>Sector desarrollo - 09/10/2021 - 30/01/2023</p>
        <ul>
          <li>Desarrollo de sitios web con ReactJS.</li>
          <li>Resolución de problemas en conjunto con otros equipos.</li>
          <li>
            Actualización de modelos según los requerimientos de los clientes.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div style="display: none;" id="experiencia-educativa-content">
    <h2 class="color-text">Mis experiencia educativa:</h2>
    <p class="descripcion-experiencia">
      Soy Ingeniero de Sistemas (2024), Tecnólogo en Análisis y Desarrollo de
      Sistemas de Información (2022) y Técnico Profesional en Operación y
      Mantenimiento de Bases de Datos (2019). A lo largo de mi formación, he
      adquirido conocimientos sólidos en desarrollo web, bases de datos y
      metodologías ágiles, lo que me ha permitido construir un perfil integral
      en tecnología.
      <br />Durante mi proceso educativo, combiné teoría y práctica para
      desarrollar habilidades en programación, diseño de interfaces, y gestión
      de proyectos. Me enfoqué en aprender herramientas modernas como ReactJS,
      Next.js, y Tailwind, aplicándolas en proyectos académicos y personales.
      Además, he comenzado a explorar el mundo de la Inteligencia Artificial,
      integrando soluciones de reconocimiento de imágenes. <br /> Valoro el aprendizaje
      continuo y la colaboración, buscando siempre mejorar la calidad del código
      y la experiencia del usuario en cada proyecto en el que participo.
    </p>
    <hr class="color-line line-experiencia" />
    <div class="timeline">
      <div class="timeline-item">
        <h3>
          Ingenieria de sistemas - <a href="#">Universidad compensar</a>
        </h3>
        <p>05/02/2018 - 30/05/2024</p>
        <ul>
          <li>
            Desarrollé habilidades en programación, bases de datos y diseño de
            sistemas.
          </li>
          <li>
            Cursos destacados: Algoritmos y Estructuras de Datos, Desarrollo de
            Aplicaciones Web.
          </li>
          <li>
            Proyectos destacados: Creación de un sistema de cifras delictivas en
            la ciudad utilizando ReactJS.
          </li>
        </ul>
      </div>

      <div class="timeline-item">
        <h3>
          Tecnologo Análisis y Desarrollo de Sistemas de Información - <a
            href="#">Universidad compensar</a
          >
        </h3>
        <p>01/02/2018 - 08/05/2022</p>
        <ul>
          <li>
            Desarrollé habilidades en análisis de sistemas, programación y
            gestión de bases de datos.
          </li>
          <li>
            Cursos destacados: Diseño de Bases de Datos, y Metodologías Ágiles.
          </li>
          <li>
            Proyectos destacados: Desarrollo de una aplicación de gestión de
            inventarios usando MySQL.
          </li>
        </ul>
      </div>
      <div class="timeline-item">
        <h3>
          Técnico Profesional en Operación y Mantenimiento de Bases de Datos - <a
            href="#">Universidad compensar</a
          >
        </h3>
        <p>09/03/2018 - 30/08/2021</p>
        <ul>
          <li>
            Desarrollé habilidades en administración y mantenimiento de bases de
            datos.
          </li>
          <li>
            Cursos destacados: Fundamentos de Bases de Datos, SQL Avanzado, y
            Seguridad de Datos.
          </li>
          <li>
            Participación en talleres de actualización sobre nuevas tecnologías
            de bases de datos y gestión de datos.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function selectExperiencia(element) {
    const experiencia = document.getElementById("experiencia-laboral");
    const experienciaEducativa = document.getElementById(
      "experiencia-educativa"
    );
    const experienciaLaboralContent = document.getElementById(
      "experiencia-laboral-content"
    );
    const experienciaEducativaContent = document.getElementById(
      "experiencia-educativa-content"
    );

    if (element === "experiencia-laboral") {
      experiencia.classList.add("selected-tag");
      experienciaEducativa.classList.remove("selected-tag");
      experienciaLaboralContent.style.display = "block";
      experienciaEducativaContent.style.display = "none";
    } else {
      experienciaEducativaContent.style.display = "block";
      experienciaLaboralContent.style.display = "none";
      experienciaEducativa.classList.add("selected-tag");
      experiencia.classList.remove("selected-tag");
    }
  }
</script>

<style>
  .content-card hr {
    border: 1px solid var(--color-lines);
  }
  .content-card {
    width: auto;
    padding: 5% 5%;
    border-radius: 20px;
    border: solid var(--color-lines);
  }
  .container-tag {
    padding: 0% 5%;
    display: flex;
    justify-content: center;
    gap: 60px;
  }
  .container-tag h1 {
    margin: 0%;
  }
  .timeline {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
  }

  /* Líneas verticales en los elementos */
  .timeline-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 20px;
  }

  .timeline-item:not(:last-child)::after {
    content: "";
    position: absolute;
    left: -7px;
    top: 12px;
    height: 170px;
    border-left: 2px solid var(--color-text);
  }

  /* Puntos circulares en cada item */
  .timeline-item::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 6px;
    width: 12px;
    height: 12px;
    background-color: var(--color-text);
    border-radius: 50%;
  }

  .timeline-item h3 {
    margin: 0;
    font-size: 18px;
  }

  .timeline-item a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
  }

  .timeline-item p {
    margin: 5px 0;
    color: #bbb;
    font-size: 14px;
  }

  .timeline-item ul {
    padding-left: 20px;
    list-style-type: disc;
  }

  .timeline-item ul li {
    margin-bottom: 5px;
  }
  .line-experiencia {
    margin: 5% 0%;
  }
  .conten-title-tag,
  .conten-title-tag-selected {
    padding: 1% 5%;
    border-top: 2px solid var(--color-lines);
    border-left: 2px solid var(--color-lines);
    border-right: 2px solid var(--color-lines);
    border-radius: 15px 15px 0 0;
    cursor: pointer;
  }
  .selected-tag {
    background-color: var(--color-lines);
  }
  @media (max-width: 768px) {
    p {
      font-size: 12px !important;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 15px;
    }
    .content-proyectos {
      grid-template-columns: repeat(1, 1fr);
    }
    .container-tag h1{
        font-size: 13px;
    }
    .container-tag {
      gap: 5px;
    }
    .timeline {
        margin-left: 0%;
        padding-left: 3%;
    }
  }
</style>
