---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-text: #3c7ccf; /* Color predeterminado */
    --color-lines: #5978a0; /* Definición de otra variable si es necesario */
  }

  .color-text {
    color: var(
      --color-text
    ); /* Utilizar la variable global para el color del texto */
  }

  html {
    font-family: system-ui, sans-serif;
    background: #020c0c;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    margin: 0%;
  }
</style>
